/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Costume tailwind classes */
@layer components {
  .transition_150 {
    @apply transition-all duration-150;
  }
  .transition_200 {
    @apply transition-all duration-300;
  }
  .welcome_text {
    @apply mt-6 text-xl xs:text-3xl 2xl:text-4xl font-bold tracking-wide text-center lg:text-left;
  }
  .form_input {
    @apply bg-light_dark border border-dark_gray p-3 xl:p-4 2xl:p-5 outline-none rounded-lg w-full text-lg placeholder:text-base focus:outline-none focus:brightness-110 hover:brightness-110 transition_150 ease-linear;
  }
  .input_icon {
    @apply absolute top-0 bottom-0 right-0 pr-3 text-xl text-gray-400 flex items-center z-10;
  }
  .input_err {
    @apply text-red-700 mt-1 before:h-1.5 before:w-1.5 before:rounded-full before:bg-red-700 before:inline-block before:mr-1;
  }
  .social_btn {
    @apply rounded-full bg-neutral-400 text-light_dark xs:text-xl 2xl:text-2xl p-2 xs:p-4 2xl:p-5 mr-5 transition_200 hover:text-white;
  }
  .grid_flow_col_2 {
    @apply grid grid-flow-col grid-cols-2;
  }
  .grid_flow_2 {
    @apply grid grid-flow-row grid-rows-2 xl:grid-flow-col xl:grid-cols-2;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
